<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">   
<head th:replace="layouts/plantilla::head"/>
    
<body>
    <div th:replace="layouts/plantilla::header"/>
    <nav th:replace="layouts/plantilla::menu"/>
    <!-- options panel -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-4 my-4">
                    <div class="card" style="height: 300px" >
                        <div class="card-header bg-primary ">
                            <h1 class="display-5 text-center pt-2" ><i class="fa fa-users"></i><h4 class="card-title text-center">Pacientes</h4></h1>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a th:href="@{/agregarPaciente}" class="list-group-item list-group-item-action ">Alta de paciente</a>
                                <a th:href="@{/verPaciente}" class="list-group-item list-group-item-action ">Consultar paciente</a>
                                <a th:href="@{/listaPacientes}" class="list-group-item list-group-item-action ">Buscar paciente</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card" style="height: 300px" >
                        <div class="card-header bg-success ">
                            <h1 class="display-5  text-center pt-2" ><i class="fa fa-book"></i><h5 class="card-title text-center">Citas</h5></h1>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action "> Agenda de citas</a>
                                <a href="#" class="list-group-item list-group-item-action ">Historico de citas</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card" style="height: 300px" >
                        <div class="card-header bg-info ">
                            <h1 class="display-5  text-center pt-2" ><i class="fa fa-suitcase"></i><h5 class="card-title text-center">Facturas</h5></h1>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a th:href="@{/agregarFactura}" class="list-group-item list-group-item-action ">Elaborar factura</a>
                                <a href="#" class="list-group-item list-group-item-action ">Consultar factura</a>
                                <a th:href="@{/listaFacturas}" class="list-group-item list-group-item-action ">Listado de facturas</a> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4 my-4">
                    <div class="card" style="height: 200px" >
                        <div class="card-header bg-warning ">
                            <h1 class="display-5  text-center pt-2" ><i class="fa fa-medkit"></i><h5 class="card-title text-center">Analíticas</h5></h1>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action ">Acceder a analíticas</a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card" style="height: 200px" >
                        <div class="card-header bg-secondary ">
                            <h1 class="display-5  text-center pt-2" ><i class="fa fa-list-alt"></i><h5 class="card-title text-center">Recetas</h5></h1>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action ">Acceder a recetas</a>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card" style="height: 200px" >
                        <div class="card-header bg-danger">
                            <h1 class="display-5  text-center pt-2" ><i class="fa fa-envelope"></i><h5 class="card-title text-center">Cartas</h5></h1>

                        </div>
                        <div class="card-body">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action ">Acceder a cartas</a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        </div>

    </section>  
    <!-- options panel -->
    <footer th:replace="layouts/plantilla::footer"/>
</body>
</html>
