<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">   
    <head th:replace="layouts/plantilla::head"/>
        <title>Inicio</title>
    </head>
    <body>
        <div th:replace="layouts/plantilla::header"/>
        <nav th:replace="layouts/plantilla::menu"/>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}">Crear Paciente</a>
        <div th:if="${pacientes != null and !pacientes.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="paciente : ${pacientes}">
                    <td th:text="${paciente.nombre}">Mostrar Nombre</td>
                    <td th:text="${paciente.apellidos}">Mostrar Apellido</td>
                    <td th:text="${paciente.email}">Mostrar Email</td>
                    <td th:text="${paciente.tlf1}">Mostrar Teléfono</td>
                    <td><a th:href="@{/editar/} + ${paciente.id_paciente}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(id_paciente=${paciente.id_paciente})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${pacientes == null or pacientes.empty}"><i class="fas fa-bell"></i><i class="fas fa-user"></i>
            La lista de pacientes está vacía
        </div>
        <footer th:replace="layouts/plantilla::footer"/>
    </body>
</html>
