<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Factura</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <nav th:replace="layouts/menu::menu"/>
        <h1>Datos de la Factura</h1>
        <a th:href="@{/}">Volver</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${factura}">
            <input type="hidden" name="n_factura" th:field="*{n_factura}"/>
            <br/>
            <label for="localidad">Localidad:</label>
            <input type="text" name="localidad" th:field="*{localidad}"/>
            <br/>
            <label for="importe">Importe:</label>
            <input type="float" name="importe" th:field="*{importe}"/>
            <br/>
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" th:field="*{fecha}"/>
            <br/>
            <label for="vencimiento">Vencimiento:</label>
            <input type="date" name="vencimiento" th:field="*{vencimiento}"/>
            <br/>
            <label for="concepto">Concepto:</label>
            <input type="text" name="concepto" th:field="*{concepto}"/>
            <br/>
            <label for="doctor">Doctor:</label>
            <input type="text" name="doctor" th:field="*{doctor}"/>
            <br/>
            <label for="n_colegiado">Nº Colegiado:</label>
            <input type="text" name="n_colegiado" th:field="*{n_colegiado}"/>
            <br/>
            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" th:field="*{direccion}"/>
            <br/>
            <label for="poblacion">Población:</label>
            <input type="text" name="poblacion" th:field="*{poblacion}"/>
            <br/>
            <label for="dni1">D.N.I.:</label>
            <input type="text" name="dni1" th:field="*{dni1}"/>
            <br/>
            <label for="cod_fiscal">Código Fiscal:</label>
            <input type="text" name="cod_fiscal" th:field="*{cod_fiscal}"/>
            <br/>
            <label for="n_hoja">Código del Cliente:</label>
            <input type="int" name="n_hoja" th:field="*{n_hoja}"/>
            <br/>
            <label for="dni">D.N.I.:</label>
            <input type="text" name="dni" th:field="*{dni}"/>
            <br/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br/>
            <label for="direccion2">Dirección:</label>
            <input type="text" name="direccion2" th:field="*{direccion2}"/>
            <br/>
            <label for="cp2">C.P.:</label>
            <input type="text" name="cp2" th:field="*{cp2}"/>
            <br/>
            <label for="poblacion2">Población:</label>
            <input type="text" name="poblacion2" th:field="*{poblacion2}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
