<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Paciente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <nav th:replace="layouts/menu::menu"/>
        <h1>Datos del Paciente</h1>
        <a th:href="@{/}">Volver</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${paciente}">
            <input type="hidden" name="id_paciente" th:field="*{id_paciente}"/>
            <br/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre no puede estar vacio</span>
            <br/>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" th:field="*{apellidos}"/>
            <br/>
            <label for="ocupacion">Ocupación:</label>
            <input type="text" name="ocupacion" th:field="*{ocupacion}"/>
            <br/>
            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" th:field="*{direccion}"/>
            <br/>
            <label for="cod_postal">Código Postal:</label>
            <input type="text" name="cod_postal" th:field="*{cod_postal}"/>
            <br/>
            <label for="poblacion">Población:</label>
            <input type="text" name="poblacion" th:field="*{poblacion}"/>
            <br/>
            <label for="provincia">Provincia:</label>
            <input type="text" name="provincia" th:field="*{provincia}"/>
            <br/>
            <label for="pais">País:</label>
            <input type="text" name="pais" th:field="*{pais}"/>
            <br/>
            <label for="telefono1">Teléfono 1:</label>
            <input type="tel" name="telefono1" th:field="*{tlf1}"/>
            <br/>
            <label for="telefono2">Teléfono 2:</label>
            <input type="tel" name="telefono2" th:field="*{tlf2}"/>
            <br/>
            <label for="email">Email:</label>
            <input type="email" name="email" th:field="*{email}"/>
            <br/>
            <label for="web">Web:</label>
            <input type="text" name="web" th:field="*{web}"/>
            <br/>
            <label for="estado_civil">Estado Civil:</label>
            <input type="text" name="estado_civil" th:field="*{estado_civil}"/>
            <br/>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="text" name="fecha_nacimiento" th:field="*{fecha_nacimiento}"/>
            <br/>
            <label for="lugar_nacimiento">Lugar de Nacimiento:</label>
            <input type="text" name="lugar_nacimiento" th:field="*{lugar_nacimiento}"/>
            <br/>
            <label for="n_hijos">Nº Hijos:</label>
            <input type="text" name="n_hijos" th:field="*{n_hijos}"/>
            <br/>
            <label for="fecha_alta">Fecha de Alta:</label>
            <input type="text" name="fecha_alta" th:field="*{fecha_alta}"/>
            <br/>
            <label for="recomendado_por">Recomendado por:</label>
            <input type="text" name="recomendado_por" th:field="*{recomendado_por}"/>
            <br/>
            <label for="motivo_consulta">Motivo de la Consulta:</label>
            <input type="text" name="motivo_consulta" th:field="*{motivo_consulta}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
