<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">   
    <head th:replace="layouts/plantilla::head"/>

    <body>
        <header th:replace="layouts/plantilla::header"/>
        <nav th:replace="layouts/plantilla::menu"/>

        <section id="pacientes">
            <div class="container">
                <div class="row ">
                    <a class="btn btn-info my-2 " role="button" th:href="@{/agregarPaciente}">
                        <i class="fa fa-user-plus">&nbsp;</i>Crear Paciente

                    </a>
                    <!-- search control -->
                    <form class="col-md-6 my-2 ">
                        <input type="text" class="form-control" placeholder="Buscar..."
                               name="q" th:value="${param.q}">
                    </form>    
                </div>
                <div class="row">
                   
                        <div th:if="${pacientes != null and !pacientes.empty}">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email</th>
                                        <th>Teléfono</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="paciente : ${pacientes}">
                                        <td th:text="${paciente.nombre}">Mostrar Nombre</td>
                                        <td th:text="${paciente.apellidos}">Mostrar Apellido</td>
                                        <td th:text="${paciente.email}">Mostrar Email</td>
                                        <td th:text="${paciente.tlf1}">Mostrar Teléfono</td>
                                        <td><a th:href="@{/editarPaciente/} + ${paciente.id_paciente}" th:text="Editar"/></td>
                                        <td><a th:href="@{/eliminarPaciente(id_paciente=${paciente.id_paciente})}" th:text="Eliminar"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${pacientes == null or pacientes.empty}">
                            La lista de pacientes está vacía
                        </div>
                    
                </div>
            </div>
        </section>

        <footer th:replace="layouts/plantilla::footer"/>
    </body>
</html>
