<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">   
    <head th:replace="layouts/plantilla::head"/>

    <body>
        <header th:replace="layouts/plantilla::header"/>
        <nav th:replace="layouts/plantilla::menu"/>

        <section id="pacientes">
            <div class="container">
                <div class="row ">

                    <a class="btn btn-info mx-3 my-2 " role="button" th:href="@{/agregarPaciente}">
                        <i class="fa fa-user-plus">&nbsp;</i>Crear Paciente

                    </a>
                    <!-- search control -->
                    <form class="col-md-8 my-2 ">

                        <input type="text" class="form-control" placeholder="Buscar por nombre o apellidos..."
                               name="q" th:value="${param.q}">
                    </form> 
                    <a class="btn btn-info mx-3 my-2 " role="button" th:href="@{/listaPacientes}">
                        Limpiar búsqueda
                    </a>

                </div>

                <div class="row">

                    <div class="col-md-12" th:if="${pacientes != null and !pacientes.empty}">
                        <table class="table table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                    <th>Teléfono</th>
                                    <th>Consultar</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="paciente : ${pacientes}">
                                    <td th:text="${paciente.nombre}">Mostrar Nombre</td>
                                    <td th:text="${paciente.apellidos}">Mostrar Apellido</td>
                                    <td th:text="${paciente.email}">Mostrar Email</td>
                                    <td th:text="${paciente.tlf1}">Mostrar Teléfono</td>
                                    <td><a th:href="@{/verPaciente/} + ${paciente.id_paciente}" th:text="Consultar"/></td>
                                    <td><a th:href="@{/editarPaciente/} + ${paciente.id_paciente}" th:text="Editar"/></td>
                                    <td><a th:href="@{/eliminarPaciente(id_paciente=${paciente.id_paciente})}" th:text="Eliminar"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${pacientes == null or pacientes.empty}">
                        La lista de pacientes está vacía
                    </div>

                </div>
                <!-- Pagination -->
                <!--                <div class="row">
                                    <div th:if="${pacientes.totalPages != 1}"
                                         class="form-group col-md-11 pagination-centered">
                                        <ul class="pagination">
                                             If page number is 0, link is disabled 
                                            <li th:class="${pacientes.number == 0} ? disabled">
                                                 go to the first page  <a
                                                    class="pageLink" th:href="@{/listaPacientes/(page=1)}">&laquo;</a>
                                            </li>
                                             if page number is 0, the link is disabled 
                                            <li th:class="${pacientes.number == 0} ? disabled">
                                                 this link goes to the previous page  
                                                <a class="pageLink" th:href="@{/listaPacientes/(page=${pacientes.number})}">&larr;</a>
                                            </li>
                                             this loop generates the links to the next pages 
                                            <li
                                                th:class="${pacientes.number == (page-1)} ? 'active pointer-disabled'"
                                                th:each="page : ${#numbers.sequence(1, pacientes.totalPages)}">
                                                <a class="pageLink" th:href="@{/listaPacientes/(page=${page})}"
                                                   th:text="${page}"></a>
                                            </li>
                                             Link to the last page. If stay in it, it's disabled   
                                            <li
                                                th:class="${pacientes.number == (pacientes.totalPages - 1)} ? disabled">
                                                <a class="pageLink"
                                                   th:href="@{/listaPacientes/(page=${pacientes.number + 2})}">&rarr;</a>
                                            </li>
                                             Link to the last page. If stay in it, it's disabled  
                                            <li
                                                th:class="${pacientes.number == (pacientes.totalPages - 1)} ? disabled">
                                                <a class="pageLink"
                                                   th:href="@{/listaPacientes/(page=${pacientes.totalPages})}">&raquo;</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>-->
                <!-- End of Pagination -->
                <nav th:replace="paginator-nav :: paginator"></nav>
            </div>
        </section>

        <footer th:replace="layouts/plantilla::footer"/>
    </body>
</html>
