<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">   
    <head th:replace="layouts/plantilla::head"/>
    <title>Inicio</title>
</head>
<body>
    <div th:replace="layouts/plantilla::header"/>
    <nav th:replace="layouts/plantilla::menu"/>

    <section>
        <div class="container">
            
            <h1><span class="badge badge-secondary col">Nuevo paciente</span></h1>
            <div class="row">
               
                <div class="col">

                    <form th:action="@{/guardarPaciente}" method="post" th:object="${paciente}">
                        <input type="hidden" name="id_paciente" th:field="*{id_paciente}"/>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre no puede estar vacio</span>
                            </div>
                            <div class="col-md-5 mb-3">
                                <label for="apellido">Apellido:</label>
                                <input type="text" class="form-control" name="apellido" th:field="*{apellidos}"/>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="ocupacion">Ocupación:</label>
                                <input type="text" class="form-control" name="ocupacion" th:field="*{ocupacion}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 mb-3">
                                <label for="direccion">Dirección:</label>
                                <input type="text" class="form-control" name="direccion" th:field="*{direccion}"/>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="cod_postal">Código Postal:</label>
                                <input type="text" class="form-control" name="cod_postal" th:field="*{cod_postal}"/>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="poblacion">Población:</label>
                                <input type="text" class="form-control"name="poblacion" th:field="*{poblacion}"/>

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="provincia">Provincia:</label>
                                <input type="text" class="form-control" name="provincia" th:field="*{provincia}"/>

                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="pais">País:</label>
                                <input type="text" class="form-control" name="pais" th:field="*{pais}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="telefono1">Teléfono 1:</label>
                                <input type="tel" class="form-control" name="telefono1" th:field="*{tlf1}"/>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="telefono2">Teléfono 2:</label>
                                <input type="tel" class="form-control" name="telefono2" th:field="*{tlf2}"/>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email" th:field="*{email}"/>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="web">Web:</label>
                                <input type="url" class="form-control" name="web" th:field="*{web}"/>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="estado_civil">Estado Civil:</label>
                                <input type="text" class="form-control" name="estado_civil" th:field="*{estado_civil}"/>

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                                <input type="date" class="form-control" name="fecha_nacimiento" th:field="*{fecha_nacimiento}"/>

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="lugar_nacimiento">Lugar de Nacimiento:</label>
                                <input type="text" class="form-control" name="lugar_nacimiento" th:field="*{lugar_nacimiento}"/>

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="n_hijos">Nº Hijos:</label>
                                <input type="text" class="form-control" name="n_hijos" th:field="*{n_hijos}"/>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <label for="fecha_alta">Fecha de Alta:</label>
                                <input type="date" class="form-control" name="fecha_alta" th:field="*{fecha_alta}"/>

                            </div>
                            <div class="col-md-10 mb-3">
                                <label for="recomendado_por">Recomendado por:</label>
                                <input type="text"  class="form-control"name="recomendado_por" th:field="*{recomendado_por}"/>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="motivo_consulta">Motivo de la Consulta:</label>
                            <input type="textarea" class="form-control" name="motivo_consulta" th:field="*{motivo_consulta}"/>
                            </div>
                        </div>
                        
                        <input class="btn btn-primary btn-lg btn-block col-md-2" type="submit" name="guardar" value="Guardar"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="layouts/plantilla::footer"/>
</body>
</html>