@charset "UTF-8";

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin: 0;
        border-radius: 0;
        padding: 15px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}